src/ingestion/schemas/building_graph.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!--
    Building Power Efficiency GNN - XML Schema Definition
    ======================================================
    Defines the structure for building graph data including:
    - Building metadata
    - Node definitions (HVAC, Lighting, Sensors, Rooms, Meters, Weather Stations)
    - Edge definitions (serves, monitors, feeds, adjacent, controls)
    - Time series readings
    -->

    <!-- Root Element -->
    <xs:element name="BuildingGraph" type="BuildingGraphType"/>

    <!-- Building Graph Type -->
    <xs:complexType name="BuildingGraphType">
        <xs:sequence>
            <xs:element name="Metadata" type="MetadataType" minOccurs="0"/>
            <xs:element name="Nodes" type="NodesType"/>
            <xs:element name="Edges" type="EdgesType"/>
            <xs:element name="TimeSeries" type="TimeSeriesType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" default="1.0"/>
        <xs:attribute name="building_id" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Metadata Type -->
    <xs:complexType name="MetadataType">
        <xs:sequence>
            <xs:element name="BuildingName" type="xs:string" minOccurs="0"/>
            <xs:element name="BuildingId" type="xs:string" minOccurs="0"/>
            <xs:element name="Location" type="LocationType" minOccurs="0"/>
            <xs:element name="TotalArea" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Floors" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="CreatedAt" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Location Type -->
    <xs:complexType name="LocationType">
        <xs:attribute name="latitude" type="xs:decimal"/>
        <xs:attribute name="longitude" type="xs:decimal"/>
        <xs:attribute name="timezone" type="xs:string"/>
    </xs:complexType>

    <!-- Nodes Container -->
    <xs:complexType name="NodesType">
        <xs:sequence>
            <xs:element name="Node" type="NodeType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Node Type -->
    <xs:complexType name="NodeType">
        <xs:sequence>
            <xs:element name="Attributes" type="AttributesType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="type" type="NodeTypeEnum" use="required"/>
        <xs:attribute name="subtype" type="xs:string"/>
        <xs:attribute name="zone" type="xs:string"/>
        <xs:attribute name="floor" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
        <!-- Type-specific attributes -->
        <xs:attribute name="area_sqft" type="xs:decimal"/>
        <xs:attribute name="capacity_kw" type="xs:decimal"/>
        <xs:attribute name="wattage" type="xs:decimal"/>
        <xs:attribute name="occupancy_max" type="xs:positiveInteger"/>
    </xs:complexType>

    <!-- Node Type Enumeration -->
    <xs:simpleType name="NodeTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HVAC"/>
            <xs:enumeration value="Lighting"/>
            <xs:enumeration value="Sensor"/>
            <xs:enumeration value="Room"/>
            <xs:enumeration value="Meter"/>
            <xs:enumeration value="WeatherStation"/>
            <xs:enumeration value="Equipment"/>
            <xs:enumeration value="Zone"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Attributes Container -->
    <xs:complexType name="AttributesType">
        <xs:sequence>
            <xs:element name="Attribute" type="AttributeType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Attribute Type (key-value pairs) -->
    <xs:complexType name="AttributeType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
        <xs:attribute name="unit" type="xs:string"/>
        <xs:attribute name="datatype" type="DatatypeEnum" default="string"/>
    </xs:complexType>

    <!-- Datatype Enumeration -->
    <xs:simpleType name="DatatypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="float"/>
            <xs:enumeration value="int"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="bool"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Edges Container -->
    <xs:complexType name="EdgesType">
        <xs:sequence>
            <xs:element name="Edge" type="EdgeType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Edge Type -->
    <xs:complexType name="EdgeType">
        <xs:attribute name="source" type="xs:string" use="required"/>
        <xs:attribute name="target" type="xs:string" use="required"/>
        <xs:attribute name="type" type="EdgeTypeEnum" use="required"/>
        <xs:attribute name="weight" type="xs:decimal" default="1.0"/>
        <xs:attribute name="bidirectional" type="xs:boolean" default="false"/>
    </xs:complexType>

    <!-- Edge Type Enumeration -->
    <xs:simpleType name="EdgeTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="serves"/>
            <xs:enumeration value="monitors"/>
            <xs:enumeration value="feeds"/>
            <xs:enumeration value="adjacent"/>
            <xs:enumeration value="controls"/>
            <xs:enumeration value="contains"/>
            <xs:enumeration value="connected_to"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Time Series Container -->
    <xs:complexType name="TimeSeriesType">
        <xs:sequence>
            <xs:element name="Reading" type="ReadingType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Reading Type -->
    <xs:complexType name="ReadingType">
        <xs:attribute name="node" type="xs:string" use="required"/>
        <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>
        <xs:attribute name="value" type="xs:decimal" use="required"/>
        <xs:attribute name="metric" type="xs:string" default="default"/>
        <xs:attribute name="unit" type="xs:string"/>
        <xs:attribute name="quality" type="QualityEnum" default="good"/>
    </xs:complexType>

    <!-- Data Quality Enumeration -->
    <xs:simpleType name="QualityEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="good"/>
            <xs:enumeration value="uncertain"/>
            <xs:enumeration value="bad"/>
            <xs:enumeration value="interpolated"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
